<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.talend.esbconsole.server.domain.repository.mapper.LogCatcherDAO">
    <resultMap id="LogCatcherMap" type="org.talend.esbconsole.server.domain.repository.entity.LogCatcherDO">
        <result column="moment" jdbcType="TIMESTAMP" property="moment"
                typeHandler="org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="root_pid" jdbcType="VARCHAR" property="rootPid"/>
        <result column="father_pid" jdbcType="VARCHAR" property="fatherPid"/>
        <result column="project" jdbcType="VARCHAR" property="project"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="context" jdbcType="VARCHAR" property="context"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="origin" jdbcType="VARCHAR" property="origin"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
    </resultMap>

    <!-- 声明数据库名称 -->
    <sql id="TABLENAME">
        log_catcher
    </sql>
    <sql id="ALLFIELDS">
        moment
        , uuid, pid,
      root_pid, father_pid, project,
      job, context, priority,
      type, origin, message,
      code
    </sql>

    <select id="listLogCatcherByUUId" resultMap="LogCatcherMap">
        SELECT
        <include refid="ALLFIELDS"/>
        FROM
        <include refid="TABLENAME"/>
        WHERE
        uuid = #{uuid, jdbcType=VARCHAR}
    </select>

</mapper>