<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.talend.esbconsole.server.domain.repository.mapper.SystemAuthorityDAO">
    <!-- 数据库表sysytem_user表与实体类SystemUser的映射关系 -->
    <resultMap id="SystemAuthorityMap" type="org.talend.esbconsole.server.domain.repository.entity.SystemAuthorityDO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="route_path" jdbcType="VARCHAR" property="routePath"/>
        <result column="route_component" jdbcType="VARCHAR" property="routeComponent"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="route_level" jdbcType="INTEGER" property="routeLevel"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="authority_code" jdbcType="VARCHAR" property="authorityCode"/>
        <result column="authority_key" jdbcType="VARCHAR" property="authorityKey"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="delete_flag" jdbcType="CHAR" property="deleteFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"
                typeHandler="org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"
                typeHandler="org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler"/>
    </resultMap>

    <resultMap id="RouteAndAuthorityMap" type="org.talend.esbconsole.server.domain.api.model.RouteAndAuthorityModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="route_path" jdbcType="VARCHAR" property="routePath"/>
        <result column="route_component" jdbcType="VARCHAR" property="routeComponent"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="authority_code" jdbcType="VARCHAR" property="authorityCode"/>
        <result column="authority_key" jdbcType="VARCHAR" property="authorityKey"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"
                typeHandler="org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"
                typeHandler="org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler"/>
    </resultMap>

    <!--    路由权限实体   -->
    <resultMap id="RouteMap" type="org.talend.esbconsole.server.domain.api.model.RouteModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="route_name" jdbcType="VARCHAR" property="routeName"/>
        <result column="route_path" jdbcType="VARCHAR" property="routePath"/>
        <result column="route_component" jdbcType="VARCHAR" property="routeComponent"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="route_level" jdbcType="INTEGER" property="routeLevel"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="status" jdbcType="CHAR" property="status"/>
    </resultMap>

    <!-- 声明数据库名称 -->
    <sql id="TABLENAME">
        system_authority
    </sql>
    <sql id="ALLFIELDS">
        id
        , name, parent_id, route_name, route_path, route_component, order_num, route_level,
        icon, authority_code, authority_key, description, status, delete_flag, create_time,
        update_time
    </sql>
    <sql id="ROUTEFIELDS">
        id
        , name, parent_id, route_name, route_path, route_component, order_num, route_level, icon, status
    </sql>

    <sql id="ROUTEANDAUTHORITYFIELDS">
        id
        , name, parent_id, route_name, route_path, route_component, order_num, authority_code, authority_key, description, type,
        create_time, update_time
    </sql>

    <select id="listRouteByUserId" resultMap="RouteMap">
        SELECT DISTINCT sa.id,
                        sa.name,
                        sa.parent_id,
                        sa.route_name,
                        sa.route_path,
                        sa.route_component,
                        sa.order_num,
                        sa.route_level,
                        sa.icon,
                        sa.status
        FROM system_user_role sur
                 LEFT JOIN system_role sr ON sur.role_id = sr.id
                 LEFT JOIN system_role_authority sra ON sur.role_id = sra.role_id
                 LEFT JOIN system_authority sa ON sa.id = sra.authority_id
        WHERE user_id = #{userId}
          AND sr.status = '1'
          AND sa.status = '1'
          AND sa.type = '0'
        ORDER BY sa.order_num
    </select>

    <select id="listAllRoutes" resultMap="RouteMap">
        SELECT
        <include refid="ROUTEFIELDS"/>
        FROM
        <include refid="TABLENAME"/>
        WHERE type = '0'
        ORDER BY order_num
    </select>

    <select id="listAuthorityKeyByUserId" resultType="java.lang.String">
        SELECT DISTINCT sa.authority_key
        FROM system_user_role sur
                 LEFT JOIN system_role sr ON sur.role_id = sr.id
                 LEFT JOIN system_role_authority sra ON sur.role_id = sra.role_id
                 LEFT JOIN system_authority sa ON sa.id = sra.authority_id
        WHERE user_id = #{userId}
          AND sr.status = '1'
          AND sa.status = '1'
    </select>

    <select id="listAuthorityCodeByRoleId" resultType="java.lang.String">
        SELECT DISTINCT sa.authority_code
        FROM system_role_authority sra
                 LEFT JOIN system_authority sa ON sra.authority_id = sa.id
        WHERE role_id = #{roleId}
          AND sa.status = '1'
    </select>

    <select id="listAllSystemAuthorities" resultMap="SystemAuthorityMap">
        SELECT
        <include refid="ALLFIELDS"/>
        FROM
        <include refid="TABLENAME"/>
    </select>

    <insert id="saveSystemAuthority">
        INSERT INTO
        <include refid="TABLENAME"/>
        (name, authority_code, authority_key, description, type, status, delete_flag, create_time, update_time)
        VALUES
        (#{name}, #{authorityCode}, #{authorityKey}, #{description}, #{type}, #{status}, #{deleteFlag},
        #{createTime, typeHandler=org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler},
        #{updateTime, typeHandler=org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler})
    </insert>

    <delete id="removeSystemAuthority">
        DELETE
        FROM
        <include refid="TABLENAME"/>
        WHERE
        id = #{id}
    </delete>

    <update id="updateSystemAuthority">
        UPDATE
        <include refid="TABLENAME"/>
        <set>
            <if test="name != null">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="authorityCode != null">
                authority_code = #{authorityCode, jdbcType=VARCHAR},
            </if>
            <if test="authorityKey != null">
                authority_key = #{authorityKey, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type, jdbcType=CHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=CHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag, jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time =
                #{createTime, typeHandler=org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler},
            </if>
            <if test="updateTime != null">
                update_time =
                #{updateTime, typeHandler=org.talend.esbconsole.server.domain.repository.handler.LocalDateTimeTypeHandler},
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="getNameById" resultType="java.lang.String">
        SELECT
        role_name
        FROM
        <include refid="TABLENAME"/>
        WHERE
        id = #{id}
    </select>

    <select id="getSystemAuthorityById" resultMap="SystemAuthorityMap">
        SELECT
        <include refid="ALLFIELDS"/>
        FROM
        <include refid="TABLENAME"/>
        WHERE
        id = #{id}
    </select>

    <select id="listParentIdByIdList" resultType="java.lang.Long">
        SELECT
        DISTINCT parent_id
        FROM
        <include refid="TABLENAME"/>
        <!-- 如果入参的集合长度为0，会出现异常吗？ xingzilong  2021-09-19 -->
        WHERE id IN
        <foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="listIdForRoute" resultType="java.lang.Long">
        SELECT
        id
        FROM
        <include refid="TABLENAME"/>
        WHERE type = '1'
    </select>

    <select id="listIdForAuthorityByRoleId" resultType="java.lang.Long">
        SELECT DISTINCT sa.id
        FROM system_role_authority sra
                 LEFT JOIN system_authority sa ON sra.authority_id = sa.id
        WHERE role_id = #{roleId}
          AND sa.status = '1'
          AND sa.type = '1'
    </select>

    <select id="listAllRouteAndAuthority" resultMap="RouteAndAuthorityMap">
        SELECT
        <include refid="ROUTEANDAUTHORITYFIELDS"/>
        FROM
        <include refid="TABLENAME"/>
        WHERE
        status = '1'
        ORDER BY order_num
    </select>

</mapper>
